:root {
  --color-primary: #272a31;
  --color-secondary: #ec5242;
  --color-body: #515151;
  --color-lightgray: #d3d3d3;
  --color-lightergray: #fbfbfb;
  --color-white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Typography */
body {
  color: var(--color-body);
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2 {
  color: var(--color-secondary);
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

h3 {
  letter-spacing: -0.01em;
  font-size: 1.25rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 0.875rem;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 1.25rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.875rem;
  }
}

/* NavBar */
nav {
  align-items: center;
  background-color: var(--color-lightergray);
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 0.75rem 14%;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav__menu {
  display: flex;
  gap: 20%;
  text-align: center;
}

.nav__link {
  color: var(--color-primary);
  font-size: 0.875rem;
  font-weight: 800;
  transition: color 0.3s;
}

.nav__link:hover {
  color: var(--color-secondary);
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  margin-right: 5%;
  white-space: nowrap;
}

.nav__campaign {
  border: 5px solid var(--color-secondary);
  color: var(--color-secondary);
  display: block;
  font-size: 0.875rem;
  font-weight: 800;
  padding: 0.5rem;
  white-space: nowrap;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    height: 90px;
    justify-content: flex-start;
    padding: 2rem;
  }

  .nav__menu {
    background-color: var(--color-lightergray);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    position: fixed;
    top: 90px;
    right: -100%;
    text-align: center;
    transition: all 0.4s ease-in-out;
    width: 100%;
  }

  .nav__menu.active {
    right: 0;
  }

  .logo {
    margin-left: 18%;
  }

  .bar {
    background-color: var(--color-primary);
    display: block;
    height: 4px;
    margin: 5px auto;
    width: 1.5rem;
    transition: all 0.4s ease;
  }

  .nav__campaign {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.6rem) rotate(-45deg);
  }
}

/* Headline section */
#headline {
  background-color: var(--color-lightergray);
  margin-top: 110px;
  padding: 6.1rem 1.5rem 4.35rem;
  transition: padding-top 0.3s;
}

#headline.active {
  padding-top: 15rem;
}

.headline__body {
  border: 2px solid var(--color-white);
  margin-bottom: 1.875rem;
  padding: 1.5rem 0.5rem;
}

.headline__date {
  color: #595959;
  font-weight: 900;
  letter-spacing: -0.08em;
  margin-bottom: 0.8rem;
}

.headline__location {
  color: #868686;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  #headline {
    height: 33%;
    padding: 9rem 18rem;
  }

  .headline__body {
    max-width: 70%;
  }

  .headline__date {
    letter-spacing: 0.04em;
  }

  .headline__location {
    font-size: 1rem;
  }
}

/* Spacing bars */
.bar--primary {
  background-color: #d9d9d9;
  display: block;
  height: 1.42px;
  margin: 0.4rem 0 0.8rem;
  width: 1.1rem;
}

.bar--secondary {
  background-color: #a04038;
  display: block;
  height: 2px;
  margin-bottom: 2rem;
  width: 1.875rem;
}

/* Main section */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  color: var(--color-lightgray);
  padding: 2rem 0.5rem;
}

.main__header {
  margin-bottom: 1rem;
}

.main__events {
  display: grid;
  gap: 1rem;
}

.main__info {
  align-items: center;
  background-color: #3c3f46;
  display: grid;
  gap: 0.725rem;
  grid-template-columns: 15% 25% 60%;
  padding: 1rem;
  transition: border 0.2s;
}

.main__info:hover {
  border: 1px solid var(--color-lightergray);
}

.main__heading {
  color: var(--color-secondary);
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.main__details {
  font-size: 0.65rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.375rem;
}

.main__icon {
  height: 51.73px;
  width: 57.08px;
}

.main__link {
  display: none;
}

.btn {
  background-color: var(--color-secondary);
  color: var(--color-lightgray);
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: -0.01em;
  margin-top: 2.5rem;
  padding: 1.25rem 3.125rem;
}

@media screen and (min-width: 768px) {
  #main {
    height: 20%;
    padding: 5.1875rem 13.375rem;
  }

  .main__events {
    gap: 0.2rem;
    grid-template-columns: repeat(5, 1fr);
  }

  .main__info {
    align-items: center;
    text-align: center;
    gap: 0.8rem;
    grid-template-columns: 1fr;
    padding: 0.375rem 1.125rem 1.375rem;
  }

  .main__heading {
    font-size: 1.5rem;
  }

  .main__details {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }

  .main__icon {
    height: 58px;
    margin: 0 auto;
    width: 64px;
  }

  .btn {
    display: none;
  }

  .main__link {
    color: var(--color-lightergray);
    display: block;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.01em;
    margin: 4.375rem auto 0;
    text-decoration: underline;
  }
}

/* Speakers section */
#speakers {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 0.5rem;
}

.speakers__header {
  margin-bottom: 1rem;
}

#speakers__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}

.speaker {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.speaker__img {
  height: 106.4px;
  min-width: 28.5%;
}

.speaker__name {
  font-size: 0.9375rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.speaker__summary {
  color: var(--color-secondary);
  font-size: 0.625rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 0.9rem;
}

.speaker__details {
  font-size: 0.5625rem;
  font-weight: 700;
  letter-spacing: -0.06em;
  line-height: 0.875rem;
}

@media screen and (min-width: 768px) {
  #speakers {
    height: 30.9%;
    padding: 4.6875rem 12.8125rem;
  }

  #speakers__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .speaker__name {
    font-size: 1.5rem;
  }

  .speaker__summary {
    font-size: 0.9375rem;
    line-height: 1.3rem;
  }

  .speaker__img {
    height: 177px;
    width: 60%;
  }


  .speaker__details {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

/* Partners section */
#partners {
  align-items: center;
  background: var(--color-primary);
  color: var(--color-lightgray);
  display: flex;
  flex-direction: column;
  padding: 2rem 0.5rem;
}

.partners__header {
  margin-bottom: 1rem;
}

.partner__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.partner__item {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  #partners {
    height: 8.2%;
  }
}


/* Footer */
footer {
  align-items: center;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 40% 55%;
  padding: 3rem;
}

.footer__ownership {
  align-items: center;
  display: flex;
  gap: 0.2rem;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 0.8;
}

@media screen and (min-width: 768px) {
  footer {
    height: 8.2%;
  }
}

/* About Page */
.about-container {
  text-align: center;
}

.about--body {
  background-color: var(--color-white);
}

.about__mail {
  color: var(--color-primary);
  display: block;
  font-weight: 900;
  margin: 0.5rem 0 2rem;
  text-decoration: underline;
}

/* Logo section */
#about-logo {
  padding: 1.25rem 0.65rem;
}

.logo__info {
  margin-bottom: 2rem;
}

/* Summits */
#summits {
  padding: 2rem 1.25rem;
}

.summits__info {
  margin-bottom: 2.2rem;
  padding: 0 0.5rem;
}

.summit__items {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.summit__item1,
.summit__item2 {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  justify-content: center;
  height: 182px;
  width: 100%;
}

.summit__item1 {
  background-image: url("../images/summit_1.png");
}

.summit__item2 {
  background-image: url("../images/summit_1.png");
}

.summit__year,
.summit__location {
  color: var(--color-white);
}

.summit__year {
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .summit__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .summit__item1,
  .summit__item2 {
    height: 236px;
    max-width: 30%;
  }
}